/*Fonts*/
@font-face {
	font-family: ElizabetaModern;
	src: url("../fonts/elizabeta-modern.woff2") format("woff2"), url("../fonts/ElizabetaModern.woff") format("woff");
	font-display: fallback;
}