/* css  */
/*Fonts*/
@font-face {
  font-family: ElizabetaModern;
  src: url("../fonts/elizabeta-modern.woff2") format("woff2"), url("../fonts/ElizabetaModern.woff") format("woff");
  font-display: fallback; }
/* Scroll */
.progress-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1; }

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc; }

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%; }

/* End Scroll */
/*Var*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 14px; }

.hr-red {
  color: #f00;
  background-color: #f00; }

.hr-green {
  color: #008000;
  background-color: #008000; }

table {
  margin: 0 auto;
  text-align: center !important;
  font-size: 24px; }

.result_title,
.result_value {
  font-weight: bold; }

.result_title {
  text-align: right; }

.result_value {
  text-align: left; }

/* Flex-container */
.wrapper {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  min-height: 100%; }

/*header*/
.header {
  padding: 0;
  margin: 0;
  background-color: #343a40;
  color: #fff; }
  .header .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center; }
    .header .logo-wrap :first-child {
      margin-right: 2px; }

/*end header*/
/* Conntent*/
.content {
  background-color: #fff;
  padding: 20px 0;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  flex: 1 1 auto; }

h2,
h2 {
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900; }

.h2__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center; }
  .h2__title h2 {
    margin: 0;
    font-family: ElizabetaModern;
    -ms-grid-row-align: center;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    color: #000;
    font-size: 36px; }
  .h2__title span {
    display: block;
    widows: 0;
    height: 0;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  .h2__title .right_h2 {
    border: 25.2px solid transparent;
    border-right-color: #000; }
  .h2__title .left_h2 {
    border: 25.2px solid transparent;
    border-left-color: #000; }

.form-add,
.form-range {
  font-size: 16px; }

.radio-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex; }

.radio-title {
  margin: 0 10px 0 0; }

/* footer */
footer {
  padding: 0;
  margin: 0;
  font-size: 16px; }
  footer a {
    color: #fff;
    font-size: 16px; }
    footer a:hover {
      color: #fff;
      text-decoration: none; }
  footer h2 {
    font-size: 18px; }

.footer-top {
  padding: 20px 0 10px 0;
  background-color: #d3d3d3; }

.footer-bottom {
  color: #fff;
  padding: 10px;
  background-color: #808080; }

.footer-bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.footer-img {
  height: 48px; }

.copyright-txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

/* 768px - 992px */
/* 576px - 768px */
@media screen and (max-width: 768px) {
  .h2__title h2 {
    font-size: 24px !important; }
  .h2__title .left_h2 {
    border: 16.2px solid transparent;
    border-left-color: #000; }
  .h2__title .right_h2 {
    border: 16.2px solid transparent;
    border-right-color: #000; }

  table {
    font-size: 12px; } }
/* 320px - 576px */
@media screen and (max-width: 576px) {
  .h2__title h2 {
    font-size: 12px !important; }
  .h2__title .left_h2 {
    border: 8.4px solid transparent;
    border-left-color: #000; }
  .h2__title .right_h2 {
    border: 8.4px solid transparent;
    border-right-color: #000; }

  table {
    font-size: 10px; }

  .content {
    padding: 5px 0; }

  .form-add,
  .form-range {
    font-size: 14px; }

  .radio-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column; }

  .footer-top {
    padding: 5px 0; }

  .footer-bottom {
    padding: 5px 0;
    font-size: 10px; }
    .footer-bottom a {
      font-size: 10px; }

  .footer-img {
    height: 24px; } }

/*# sourceMappingURL=style.css.map */
